.container {
    font-family: 'Roboto', sans-serif;
    max-width: 1280px;
    padding: 20px 0px;
    margin: 0 auto;
}

.logo_header {
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
    margin-left: 0;
}

.color_logo {
    color: #000;

}

.nav_menu {
    display: flex;
    justify-content: center;
    flex-basis: auto;
    align-items: center;
    background-color: #35444F;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #fff;
    padding-left: 0;
}

.nav_menu_link {

    display: flex;
    text-align: center;
    padding: 24px 30px;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.nav_menu li a:hover {
    background-color: #222F3A;
}

.aside_img_content_box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.aside_box {
    width: 345px;
    border: 1px solid #000;
    margin-right: 40px;
}

.aside_menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.aside_menu_item {
    padding: 20px;
}

.aside_menu_link {
    font-size: 27px;
    color: #495863;
    line-height: 27px;
}

.aside_menu li a:hover {
    color: #000;
    position: relative;
    left: 20px;
}

.aside_menu_item:hover {
    background-color: #DBDBDB;
}

.image_content_box {
    width: 855px;
}

.img_box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin: 0;
    padding-top: 73px;
    padding-bottom: 73px;
   
}

.scale img:hover {
    transform: scale(1.5);
    transition: 1s;
}

.text {
    font-size: 18px;
    line-height: 24px;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    margin: 0;
}

.footer_menu_link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    margin-right: 20px;
}

.footer_box {
    display: flex;
    background-color: #63696E7A;
    justify-content: space-between;

}

.copy_logo {
    font-size: 24px;
    line-height: 24px;
    padding: 20px 40px;
}

.footer_menu li a:hover {
    color: #3181A6;
    text-decoration: underline #3181A6;
}

.button{
width: 200px;
height: 80px;
font-size: 24px;
color: #4BCAFF;
display: flex;
justify-content: center;
align-items: center;
text-transform: capitalize;
font-family: 'Roboto', sans-serif;
font-weight: bold;
background-color: #35444F;
}


.new_theme {
    background-color: #E6E6FA;
    z-index: -1;
}

.new_theme .logo_header {
    font-size: 80px;
    line-height: 94px;
    color: #8A2BE2;
    margin-left: 0;
}

.new_theme .container {
    font-family: 'Georgia', serif;
    font-style: italic;

}

.new_theme .nav_menu {
    background-color: #B0E0E6;
    border: 1px solid #DDA0DD;
}

.new_theme .nav_menu_link {
    color: #BA55D3;
    font-size: 24px;
    line-height: 24px;
    border-right: 1px solid #DDA0DD;
    border-left: 1px solid #DDA0DD;
}

.new_theme .footer_box {
    background-color: #B0E0E6;
}

.new_theme .aside_box {
    border: 1px solid #DDA0DD;
}

.new_theme .img_box{
    border: 1px solid #DDA0DD;
}

.new_theme .footer_menu_link {
    color: #BA55D3;
}

.new_theme .copy_logo {
   color: #9400D3;
}

.new_theme .aside_menu_link {
    color: #9400D3;

}

.new_theme .text {
   color: #4B0082;
}
.new_theme .button {
    background-color: #B0E0E6;
    color: #BA55D3;
    border: 1px solid #DDA0DD;
}

.new_theme .image {
    opacity: 0.8;
}